name: Kotlin CI with JDK 24

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 24
      uses: oracle-actions/setup-java@v1
      with:
        website: jdk.java.net
        release: 24 

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Build and Test
      run: ./gradlew build --info
