name: Kotlin CI with JDK 24

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 24
      uses: actions/setup-java@v4
      with:
        java-version: '24'
        distribution: 'oracle'
        
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4

  
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      working-directory: Conversor-de-Moedas-CLI

    - name: Build and Test
   
      run: ./gradlew build --info
      working-directory: Conversor-de-Moedas-CLI
